@font-face {
    font-family: 'Mont-Regular';
    src: url(./font/Montserrat/Montserrat-Regular.ttf);
}

:root {
    --bluecolor: #c34bff;
    --pinkcolor: #ff32b0;
    --navybluecolor: #8243fa;
    --shadow-nav: 0 2px 8px rgba(0, 0, 0, .3);
    --shadow-normal:0 5px 10px rgba(0, 0, 0, .5);
    --shadow-hover: 0 5px 15px rgba(0, 0, 0, .5);
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mont-Regular';
    scroll-behavior: smooth;
}


header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: var(--shadow-nav);
}

nav {
    height: 60px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#logo-round {
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    box-shadow: var(--shadow-nav);
    margin-top: 7px;
    left: -3px;
    border: 3px solid var(--pinkcolor);
}

#logo-rect {
    position: absolute;
    top: -10px;
    left: -13px;
    height: 60px;
    width: 100px;
    background-color: white;
}

nav img {
    position: relative;
    top: 30px;
    left: 10px;
    transform: translate(30%, -30%);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

nav ul a {
    color: black;
    padding: 10px 15px;
    margin: 10px 0px;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: ease-in-out .3s;
}


nav ul a:hover {
    background-color: var(--navybluecolor);
    color: white;
}

main {
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}


/*----whole section----*/

section {
    position: relative;
    grid-column: 2/3;
    margin-top: 90px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
    z-index: 0;
    display: grid;
    grid-template-columns: 3% 1.1fr 1.9fr 3%;
    grid-template-rows: auto auto auto;
    transition: all .3s ease-in-out;
}

section:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .4);
}


/*-----section-header-----*/

section #aboutheader {
    grid-column: 2/4;
}

section h2 {
    position: relative;
    padding: 15px;
    font-family: 'Product sans';
    font-size: 2.2em;
    font-weight: bold;
    color: var(--pinkcolor);
    z-index: 1;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
}

section h2::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 40px;
    border-radius: 10px;
    background-color: rgba(145, 145, 145, 0.3);
    z-index: -1;
    transition: all .4s ease-in-out;
}


section h2::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--navybluecolor);
    transition: all .2s ease-in;
}

section:hover h2::after {
    margin-top: 28px;
    border-radius: 45%;
}

section p {
    color: rgb(107, 107, 107);
    font-weight: 500;
    line-height: 3ch;
}



/*-----About section-----*/

#about-sec {
    background: url("./images/sectionbackground.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    grid-column: 2/3;
}

section:hover #aboutheader h2::before {
    width: 110px;
}


#about-content {
    margin-top: 40px;
    grid-column: 2/3;
}

#about-content h3 {
    margin-left: 0px;
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: 0px;
    border-left: 4px solid var(--navybluecolor);
}


section a {
    grid-column: 2/3;
    padding: 15px;
    background-color: var(--navybluecolor);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 140px;
    transition: all .4s;
    box-shadow: var(--shadow-normal);
}

section a:hover {
    box-shadow: var(--shadow-hover);
}


/*-----Skills section-----*/

#skills {
    grid-column: 2/3;
}

#skills-sec {
    grid-column: 2/3;
    background: url("./images/skill-bg2.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 3% 1.9fr 1.1fr 3%;
    grid-template-rows: auto auto 40px;
}

section #skillheader {
    grid-column: 2/4;
}

#skills-content {
    grid-column: 3/4;
    text-align: right;
}

section:hover #skillheader h2::before {
    width: 92px;
}

#skills-content h3 {
    margin-right: 0px;
    padding-right: 10px;
    font-size: 1.2em;
    margin-bottom: 40px;
    margin-top: 0px;
    border-right: 4px solid var(--navybluecolor);
}

.empty {
    grid-row: 3/4;
}


/*-----projects------*/

#projects {
    grid-column: 2/3;
}

#project-sec {
    grid-column: 2/3;
    background: url("./images/skill-bg2.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 3% 1.9fr 1.1fr 3%;
    grid-template-rows: auto auto auto;
}

section #projectsheader {
    grid-column: 2/4;
}

#projects-content {
    grid-column: 3/4;
    text-align: right;
}

section:hover #projectsheader h2::before {
    width: 146px;
}


/*-----contacts-----*/

#contact {
    grid-column: 2/3;
}

#contact-sec {
    grid-column: 2/3;
    background: url("./images/skill-bg2.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 3% 1.9fr 1.1fr 3%;
    grid-template-rows: auto auto auto;
}

section #contactheader {
    grid-column: 2/4;
}

#contact-content {
    grid-column: 3/4;
    text-align: right;
}

section:hover #contactheader h2::before {
    width: 141px;
}

#contact-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50px;
}



@media only screen and (max-width: 900px) {

    section p {
        font-size: 11pt;
    }
    section a {
        font-size: 11pt;
    }
    section h2{
        font-size: 24pt;
    }

    /*----whole section----*/

    section {
        border-radius: 15px;
        grid-template-columns: 4% 1.4fr 1.6fr 4%;
    }


    /*-----About section-----*/

    #about-sec {
        background-position: 60% 50%;
    }

    section:hover #aboutheader h2::before {
        width: 103px;
    }

    #about-content h3 {
        font-size: 13pt;
    }


    section a {
        font-size: 11pt;
        width: 131px;
        padding: 13px 15px;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    /*-----Skills section-----*/

    #skills-sec {
        grid-template-columns: 4% 1.8fr 1.2fr 4%;
    }

    section:hover #skillheader h2::before {
        width: 85px;
    }

    /*-----projects------*/

    #project-sec {
        grid-column: 2/3;
        background: url("./images/skill-bg2.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 3% 1.9fr 1.1fr 3%;
        grid-template-rows: auto auto auto;
    }

    #projects-content {
        grid-column: 3/4;
        text-align: right;
    }

    section:hover #projectsheader h2::before {
        width: 135px;
    }


    /*-----contacts-----*/
    #contact {
        grid-column: 2/3;
    }

    #contact-sec {
        grid-column: 2/3;
        background: url("./images/skill-bg2.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 3% 1.9fr 1.1fr 3%;
        grid-template-rows: auto auto auto;
    }

    section:hover #contactheader h2::before {
        width: 130px;
    }

} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    
    section p {
        font-size: 11pt;
    }
    section a {
        font-size: 11pt;
    }
    section h2{
        font-size: 24pt;
    }

    header {
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 100;
        box-shadow: var(--shadow-nav);
        background-color: rgb(255, 91, 146);
        overflow: hidden;
    }
    
    nav {
        height: 60px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    #logo-round {
        display: none;
    }

    ul {
        margin: 0px auto;
    }

    nav ul a:hover {
        background-color: rgb(96, 0, 223);
        color: white;
    }
    ul::before {
        content: "";
        position: absolute;
        left: -75px;
        width: 130px;
        height: 100px;
        transform: rotate(-30deg);
        background-color: var(--navybluecolor);
        box-shadow: var(--shadow-normal);
    }
    
    ul::after {
        content: "";
        position: absolute;
        right: -60px;
        width: 130px;
        height: 100px;
        transform: rotate(-30deg);
        background-color: white;
        box-shadow: var(--shadow-normal);
        transition: all  .3s ease-out; 
    }

    nav::before {
        content: "";
        position: absolute;
        left: -50px;
        width: 130px;
        height: 100px;
        transform: rotate(-30deg);
        background-color: white;
        box-shadow: var(--shadow-normal);
        transition: all  .3s ease-out; 
    }

    nav::after {
        content: "";
        position: absolute;
        right: -60px;
        width: 130px;
        height: 100px;
        transform: rotate(-30deg);
        background-color: var(--navybluecolor);
        box-shadow: var(--shadow-normal);
    }

    header:hover nav::before {
        left: -70px;
    }
    header:hover ul::after {
        right: -70px;
    }
    
    /*----whole section----*/
    
    section {
        position: relative;
        grid-column: 2/3;
        margin-top: 90px;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
        z-index: 0;
        display: grid;
        grid-template-columns: 5% 1.1fr 1.9fr 5%;
        grid-template-rows: auto auto auto;
        transition: all .3s ease-in-out;
    }
    
    section:hover {
        transform: scale(1.01);
        box-shadow: 0 2px 20px rgba(0, 0, 0, .4);
    }
    
    
    /*-----section-header-----*/
    
    section #aboutheader {
        grid-column: 2/4;
    }
    
    section h2 {
        position: relative;
        padding: 15px;
        font-family: 'Product sans';
        font-size: 2.2em;
        font-weight: bold;
        color: var(--pinkcolor);
        z-index: 1;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 10px;
    }
    
    section h2::before {
        content: "";
        position: absolute;
        height: 35px;
        width: 40px;
        border-radius: 10px;
        background-color: rgba(145, 145, 145, 0.3);
        z-index: -1;
        transition: all .4s ease-in-out;
    }
    
    
    section h2::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: var(--navybluecolor);
        transition: all .2s ease-in;
    }
    
    section:hover h2::after {
        margin-top: 28px;
        border-radius: 45%;
    }
    
    section p {
        color: rgb(107, 107, 107);
        font-weight: 500;
        line-height: 3ch;
    }
    
    
    
    /*-----About section-----*/
    
    #about-sec {
        background: url("./images/sectionbackground.jpg") no-repeat;
        
        background-position: 90% 15%;
        background-size: 0%;
    }
    
    section:hover #aboutheader h2::before {
        width: 110px;
    }
    
    
    #about-content {
        margin-top: 40px;
        grid-column: 2/4;
    }
    
    #about-content h3 {
        margin-left: 0px;
        padding-left: 10px;
        font-size: 1.2em;
        margin-bottom: 40px;
        margin-top: 0px;
        border-left: 4px solid var(--navybluecolor);
    }
    
    
    section a {
        grid-column: 2/3;
        padding: 15px;
        background-color: var(--navybluecolor);
        border-radius: 10px;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 140px;
        transition: all .4s;
        box-shadow: var(--shadow-normal);
    }
    
    section a:hover {
        box-shadow: var(--shadow-hover);
    }
    
    
    /*-----Skills section-----*/
    
    #skills {
        grid-column: 2/3;
    }
    
    #skills-sec {
        grid-column: 2/3;
        background: url("./images/skill-bg2.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 3% 1.9fr 1.1fr 3%;
        grid-template-rows: auto auto 40px;
    }
    
    section #skillheader {
        grid-column: 2/4;
    }
    
    #skills-content {
        grid-column: 3/4;
        text-align: right;
    }
    
    section:hover #skillheader h2::before {
        width: 92px;
    }
    
    #skills-content h3 {
        margin-right: 0px;
        padding-right: 10px;
        font-size: 1.2em;
        margin-bottom: 40px;
        margin-top: 0px;
        border-right: 4px solid var(--navybluecolor);
    }
    
    .empty {
        grid-row: 3/4;
    }
    
    
    /*-----projects------*/
    
    #projects {
        grid-column: 2/3;
    }
    
    #project-sec {
        grid-column: 2/3;
        background: url("./images/skill-bg2.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 3% 1.9fr 1.1fr 3%;
        grid-template-rows: auto auto auto;
    }
    
    section #projectsheader {
        grid-column: 2/4;
    }
    
    #projects-content {
        grid-column: 3/4;
        text-align: right;
    }
    
    section:hover #projectsheader h2::before {
        width: 146px;
    }
    
    
    /*-----contacts-----*/
    
    #contact {
        grid-column: 2/3;
    }
    
    #contact-sec {
        grid-column: 2/3;
        background: url("./images/skill-bg2.jpg");
        background-size: cover;
        display: grid;
        grid-template-columns: 3% 1.9fr 1.1fr 3%;
        grid-template-rows: auto auto auto;
    }
    
    section #contactheader {
        grid-column: 2/4;
    }
    
    #contact-content {
        grid-column: 3/4;
        text-align: right;
    }
    
    section:hover #contactheader h2::before {
        width: 141px;
    }
    
    #contact-content {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 50px;
    }
} 